<mat-toolbar color="primary"> 
  <div class="nome-da-loja">  
    <h1>LOJA DE KONOHA</h1>
  </div> 

  <button mat-button routerLink="/">Home</button>  
  <button mat-button routerLink="/CadastroDeCliente">Cadastro Cliente<mat-icon aria-hidden="false">manage_accounts</mat-icon></button>
  <button mat-button routerLink="/CadastroDeProdutos">Cadastro Produto<mat-icon aria-hidden="false">upgrade</mat-icon></button>
  <button mat-button routerLink="/ListaDeProdutos">Ofertas <mat-icon aria-hidden="false">shopping_bag</mat-icon></button>
</mat-toolbar>
  <router-outlet></router-outlet>